<h2>Bienvenue sur Lovely hood !</h2>

<p>
  Ta communauté Lovely hood est constituée des membres qui habitent dans un rayon de 1km autour de chez toi.
</p>
<p>
  Découvre les objets et services à ta disposition <%= link_to "ici", offers_url %>.
</p>
<p>
  Génère-toi facilement des sources de revenus complémentaires en créant tes propres annonces <%= link_to "ici", new_offer_url %>.
</p>

<h4>A bientôt sur Lovely hood !</h4>