<h2>Bienvenue sur Lovely hood !</h2>

<p>
  Lovely hood est actuellement en version beta, les fonctionnalités "client" (consulter les annonces, réserver, discuter...) ne sont pas activées et le seront au compte goutte. Tu peux en revanche d'ores et déjà créer des annonces pour les objets que tu souhaites vendre, louer, ou encore les services que tu es prêt à rendre à tes voisins pour gagner de l'argent.
</p>
<p>
  Avant tout, complète bien ton <%= link_to "profil", edit_user_url(@user) %> avec ton nom et ton adresse pour poursuivre ta navigation sur le site.
</p>

<h4>A bientôt sur Lovely hood !</h4>