<%= content_for(:title) do %>
  Boîte de réception - LH
<% end %>
<%= content_for(:description) do %>
  Communiquez facilement avec vos voisins grâce à notre messagerie interne, pour faciliter vos recherches de biens et services ou demander conseil pour créer des annonces !
<% end %>
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="panel panel-default margin-top-15 padding-none white-bg">
        <div class="panel-heading">
          <h3>Boîte de réception</h3>
        </div>
        <div class="panel-body padding-none">
          <% current_user.conversations.sort_by { |c| c.messages.last.updated_at }.reverse.each do |conversation| %>
            <% if conversation.messages.select{ |message| message.writer != current_user }.map { |message| message.read_at }.include? nil %>
              <%= render "conversation_with_unread_messages", conversation: conversation %>
            <% else %>
              <%= render "conversation", conversation: conversation %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
