<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="panel panel-default margin-top-15 padding-none white-bg">
        <div class="panel-heading">
          <h3>Boîte de réception</h3>
        </div>
        <div class="panel-body padding-none">
          <% current_user.conversations.sort_by { |c| c.messages.last.updated_at }.reverse.each do |conversation| %>
            <% if conversation.messages.select{ |message| message.writer != current_user }.map { |message| message.read_at }.include? nil %>
              <%= render "conversation_with_unread_messages", conversation: conversation %>
            <% else %>
              <%= render "conversation", conversation: conversation %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
