<h1>Conversations</h1>

<h2>Boîte de réception</h2>
<ul>
  <%= render collection: mailbox.inbox, partial: "conversation" %>
</ul>

<h2>Messages envoyés</h2>
<ul>
  <%= render collection: mailbox.inbox, partial: "conversation" %>
</ul>

<h2>Corbeille</h2>
<ul>
  <%= render collection: mailbox.inbox, partial: "conversation" %>
</ul>