<%= content_for(:title) do %>
  Lovely hood - Nouveau message
<% end %>
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="panel panel-default margin-top-15 padding-none">
        <div class="panel-heading">
          <h3>Conversation avec <%= @user.first_name %></h3>
        </div>
        <div class="panel-body form-horizontal">
          <%= render "form_u" %>
        </div>
      </div>
    </div>
  </div>
</div>