<%= content_for(:title) do %>
  <%= t('.title') %>
<% end %>
<%= content_for(:description) do %>
  <%= t('.description') %>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default white-bg margin-top-15 padding-none" id="neighbors">
        <div class="panel-heading border-btm-none">
          <h4><%= t('.my_neighbors') %></h4>
        </div>
        <div class="panel-body padding-none border-top-221">
          <div id="neighbors-stream">
            <% if @users.size > 0 %>
              <% @users.sort_by(&:updated_at).reverse.each do |neighbor| %>
                <div class="col-xs-6 col-sm-4">
                  <%= render "neighbor", neighbor: neighbor %>
                </div>
              <% end %>
            <% else %>
              <div class="offer-stream-box border-top">
                <p><%= t('.no_neighbor_yet') %></p>
              </div>
            <% end %>
          </div>
          <div class="row">
            <div class="col-xs-12 text-center">
              <%= paginate @users %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= content_for :js do %>
  <% javascript_tag do %>
    $(document).ready(function() {
      usersIndex()
      $(window).on('scroll', function() {
        var more_neighbors_url = $('.next a').attr('href')
        if(more_neighbors_url && $(window).scrollTop() > $(document).height() - $(window).height() - 230) {
          $('.pagination').html('<img src="<%= asset_url('facebook.gif') %>" alt="Loading..." title="Loading..." />')
          $.ajax({
            type: 'GET',
            url: more_neighbors_url,
            dataType: 'script',
            success: function() {
              usersIndex()
            }
          })
        }
        return false
      })
    })
  <% end %>
<% end %>