<div id="mosaic">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="lead">
          <%= link_to root_path do %>
            <%= image_tag "lovely_hood.png", width: "400px", class: "padding-top-15" %>
          <% end %>
          <div class="vertical-spacer disappear"></div>
          <h2>Rentabilisez vos objets dormants</h2>
          <br>
          <button class="btn btn-home" data-toggle="modal" data-target="#modal-explain">
            Comment ça marche
          </button>
        </div>
      </div>
    </div>
  </div>
</div>