<%= content_for(:title) do %>
  Lovely hood - Rentabilisez vos objets dormants
<% end %>



<div id="mosaic">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="lead">
          <h1>Bienvenue sur <strong class="letter-squeezed">lovely hood</strong>.</h1>
          <h3>N'achetez plus ce que vous n'utiliserez que ponctuellement. <br>Votre voisinage est plein de ressources.</h3>
        </div>
        <br>
        <!-- <button class="btn btn-success" data-toggle="modal" data-target="#modal-explain">
          Comment ça marche
        </button> -->

      </div>
      <div class="col-sm-6">

      </div>
    </div>
  </div>
</div>
