<%= content_for(:title) do %>
  Lovely hood - Rentabilisez vos objets dormants
<% end %>



<div id="mosaic">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="lead">
          <h1>Bienvenue sur <strong>lovely hood</strong>.</h1>
          <h3>Cessez d'acheter ce que vous n'utiliserez que ponctuellement. <br>Votre voisinage est plein de ressources.</h3>
        </div>
        <br>
        <!-- <button class="btn btn-success" data-toggle="modal" data-target="#modal-explain">
          Comment ça marche
        </button> -->

      </div>
      <div class="col-sm-6">

      </div>
    </div>
  </div>
</div>
<div class="bg-color hidden-xs" id="left-pane">
  <div class="explain">
    <h1><strong>Parcourez les offres</strong>.</h1>
    <h3>Toutes les annonces concernent des biens et services accessibles à <strong>moins de 10 min à pied</strong>.</h3>
  </div>
</div>
<div class="hidden-xs" id="example"></div>
<!-- <div class="col-sm-1 white-bg" id="left-pane"></div> -->
<div class="vertical-spacer hidden-xs"></div>
<div class="vertical-spacer"></div>
