<%= content_for(:title) do %>
  Lovely hood - Rentabilisez vos objets dormants
<% end %>



<div id="mosaic">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="lead">
          <h1>Bienvenue sur <strong class="letter-squeezed">lovely hood</strong>.</h1>
          <h3>N'achetez plus ce que vous n'utiliserez que ponctuellement. <br>Votre voisinage est plein de ressources.</h3>
        </div>
        <br>
      </div>
      <div class="col-sm-6">
      </div>
    </div>
  </div>
</div>

<div id="product">
  <div class='container'>
    <div class="row">
      <div class="col-sm-5">
        <div id="box">
          <div class="lead">
            <h1><strong class="letter-squeezed">Parcourez</strong>...</h1>
            <h3>les biens et services accessibles à moins de 10 min à pied de chez vous.</h3>
          </div>
          <div class="lead" data-sr="wait 2s then enter right move 100%">
            <h1><strong class="letter-squeezed">Réservez</strong>...</h1>
            <h3>le produit qui vous intéresse.</h3>
          </div>
          <div class="lead" data-sr="wait 4s then enter right move 100%">
            <h1><strong class="letter-squeezed">Suivez</strong>...</h1>
            <h3>sur votre tableau de bord les reservations passées, en cours et à venir.</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-7">
        <div id="webApp">
          <div id="webFinderBar">•••</div>
          <div id="webAppContainer">
            <%= image_tag "offers.png", class: "img" %>
            <%= image_tag "offer.png", :'data-sr' => "wait 2s then enter right move 100%", class: "img"  %>
            <%= image_tag "profile.png", :'data-sr' => "wait 4s then enter right move 100%", class: "img" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>