<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="header-box">
        <div class="frame-header">
          <h2 class="margin-none">Modifier l'annonce</h2>
        </div>
      </div>
      <div class="body-box">
        <div class="form-horizontal white-bg frame-body">
          <%= render "form" %>
        </div>
      </div>
    </div>
  </div>
</div>
