<div class="box-shadow" id="map"></div>

<div class="bg-color" id="sidebar">

  <div class="header-box">
    <div class="frame-header">
      <h3 class="margin-none">Rechercher une annonce</h3>
    </div>
  </div>
  <div class="body-box">
    <div class="white-bg frame-body search">
      <p>TO DO</p>
    </div>
  </div>
  <div class="header-box">
    <div class="frame-header">
      <h3 class="margin-none">Annonces</h3>
    </div>
  </div>
  <div class="body-box">
    <div class="white-bg frame-body offers">
      <p>TO DO</p>
    </div>
  </div>
</div>

<% content_for(:js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    })
  <% end %>
<% end %>