<div class="box-shadow" id="map"></div>

<div class="bg-color" id="sidebar">
  <div class="white-bg frame search">
    <h1>Search options</h1>
  </div>
  <div class="white-bg frame offers">
    <h1>Annonces</h1>
  </div>
</div>

<% content_for(:js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    })
  <% end %>
<% end %>