<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="frame-header relative">
        <h2 class="margin-none">Nouvelle annonce</h2>
      </div>
      <div class="form-horizontal white-bg frame relative">
        <%= render "form" %>
      </div>
    </div>
  </div>
</div>
<br>
<br>