<%= content_for(:title) do %>
  Nouvelle annonce - LH
<% end %>
<%= content_for(:description) do %>
  Location, vente, service, créez des annonces pour gagner de l'argent facilement avec ce que vous avez chez vous !
<% end %>
<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="panel panel-default margin-top-15 padding-none">
        <div class="panel-heading">
          <h3>Nouvelle annonce</h3>
        </div>
        <div class="panel-body form-horizontal">
          <%= render "form" %>
        </div>
      </div>
    </div>
  </div>
</div>