<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default white-bg margin-top-15 padding-none">
        <div class="panel-heading border-btm-none">
          <h4>Ma wish list</h4>
        </div>
        <div class="panel-body padding-none">
          <% if @offers.size > 0 %>
            <% @offers.sort_by(&:updated_at).reverse.each do |offer| %>
              <%= render "wishlisted_offer", offer: offer %>
            <% end %>
          <% else %>
            <div class="offer-stream-box border-top">
              <p>Vous n'avez pas d'annonce dans votre wish list.</p>
              <p><%= link_to "Voir les annonces", offers_path %></p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>