<%= content_for(:title) do %>
  Chatroom - LH
<% end %>
<%= content_for(:description) do %>
  Communiquez facilement avec vos voisins grâce à la chatroom de Lovely Hood
<% end %>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lf-offset-2">
      <div class="panel panel-default white-bg margin-top-15 padding-none">
        <div class="panel-heading">
          <h4>Fil de discussion</h4>
        </div>
        <div class="panel-body padding-none">
          <% @posts.sort_by(&:created_at).reverse.each do |post| %>
            <%= render "post", post: post %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>