$font-family-sans-serif: 'Ubuntu', sans-serif;
$gray-base: #000;
$gray: lighten($gray-base, 33.5%);
$gray-darker: lighten($gray-base, 13.5%);
$gray-light: lighten($gray-base, 46.7%);
$gray-dark: lighten($gray-base, 20%);
$gray-lighter: lighten($gray-base, 85%);



@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700|Pacifico");
@import "chosen";

@import "navbar";
@import "footer";
@import "algolia";

$bg-color: rgba(240, 240, 240, 1);

body {
  margin-top: 60px;
  color: $gray-light;
  font-weight: 300;
  height: 100%;
}

#wrapper {
  min-height:100%;
  position:relative;
  padding-bottom: 192px;
}

a {
  color: red;
}

a:hover,
a:active,
a:focus {
  color: red;
  text-decoration: underline;
}

.bg-color {
  background-color: $bg-color;
}

.white-bg {
  background-color: rgba(255, 255, 255, .9);
}

.padding-15 {
  padding: 15px;
}

.margin-btm-10 {
  margin-bottom: 10px;
}

.margin-btm-5 {
  margin-bottom: 5px;
}

.margin-top-10 {
  margin-top: 10px;
}

.padding-top-10 {
  padding-top: 10px;
}

.padding-top-15 {
  padding-top: 15px;
}

.btn-facebook {
  background-color: #3A5795;
  color: white;
}

.btn-facebook:hover {
  color: white;
  font-weight: bold;
}

.frame {
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 2px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .4);
  z-index: -1;
}

.frame-body {
  padding: 10px 20px 20px 20px;
  margin: -10px 30px 20px 30px;
  border-radius-bottom-left: 2px;
  border-radius-bottom-right: 2px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .4);
  z-index: -1;
}

.body-box {
  margin-top: 10px;
  padding: 10px 0 0 0;
  overflow: hidden;
  z-index: 1;
}

.frame-header {
  background-color: $bg-color;
  margin: 20px 30px -10px 30px;
  padding: 10px 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .4);
  border-bottom: 1px solid rgb(220, 220, 220);
  border-radius-top-left: 2px;
  border-radius-top-right: 2px;
  z-index: 1;
}

.header-box {
  padding: 0 0 10px 0;
  margin-bottom: -10px;
  overflow: hidden;
}

.box-shadow {
  box-shadow: 0 0 5px rgba(0, 0, 0, .4);
}

.sidenav {
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 16px;
}

.sidenav li {
  padding-top: 6px;
  padding-bottom: 6px;
}

.sidenav > ul > li > a {
  color: rgba(100, 100, 100, 1)
}

.sidenav > ul > li > a:hover {
  text-decoration: none;
  font-weight: 900;
}

.text-align-left {
  text-align: left;
}

.btn-wide {
  width: 100%;
}

.btn-half-wide {
  width: 50%;
}

.img-profile {
  width: 100%;
}

.img-offer {
  width: 100%;
}

.height-200 {
  min-height: 200px;
}

.height-100 {
  min-height: 100px;
}

.padding-top-5 {
  padding-top: 5px;
}

.margin-btm-none {
  margin-bottom: 0;
}

.margin-none {
  margin: 0;
}

.padding-none {
  padding: 0;
}

.relative {
  position: relative;
}

.half-width {
  width: 50%;
}

.padding-vertical-6 {
  padding-top: 6px;
  padding-bottom: 6px;
}

.img-nature {
  display: block;
  float: left;
  max-width: 60px;
}

.img-nature-box {
}

.margin-left-90 {
  margin-left: 90px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-right-15 {
  margin-right: 15px;
}

.margin-top-neg-19 {
  margin-top: -19px;
}

.height-fixed-40 {
  height: 40px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.padding-left-30 {
  padding-left: 30px;
}

.padding-left-10 {
  padding-left: 10px;
}

.search-bar {
  padding: 10px;
  border-bottom: 1px solid rgb(220, 220, 220);
}

.small {
  font-size: 13px;
  margin-top: 3px;
}

.margin-top-15 {
  margin-top: 15px;
}

.margin-top-6 {
  margin-top: 6px;
}

.margin-sides-none {
  margin-left: 0;
  margin-right: 0;
}

.strong {
  font-weight: bold;
}

.img-small {
  height: 32px;
  width: 32px;
  border: 2px solid white;
  box-shadow: 0 0 2px #c8c8c8;
}

.padding-right-20 {
  padding-right: 20px;
}

.message {
  border-bottom: 1px solid rgb(220, 220, 220);
  padding: 5px;
}

.message-date {
  font-size: 13px;
  text-align: center;
  color: $gray-lighter;
}

.reply {
  padding: 10px;
  background-color: $bg-color;

}

.block {
  display: block;
}

.message-profile-link {
  color: #25AAE1;
}

.message-profile-link:hover {
  color: #25AAE1;
}

.notices {
  position: absolute;
  left: 50%;
  width: 300px;
  margin-top: 15px;
  margin-left: -150px;
  z-index: 2;
}

#messages-box {
  max-height: 600px;
  scroll: auto;
}

.link-unstyled,
.link-unstyled:hover,
.link-unstyled:focus {
  color: lighten($gray-light, 20%);
  font-weight: 300;
  text-decoration: none;
}

.conversation-preview {
  padding: 10px;
  border-bottom: 1px solid rgb(220, 220, 220);
}

.unread-messages {
  background-color: lighten($gray-light, 50%);
}

