//= depend_on_asset "logo.png"
//= depend_on_asset "background.png"

$font-family-sans-serif: 'Ubuntu', sans-serif;
$gray-base: #000;
$gray: lighten($gray-base, 33.5%);
$gray-darker: lighten($gray-base, 13.5%);
$gray-light: lighten($gray-base, 46.7%);
$gray-dark: lighten($gray-base, 20%);
$gray-lighter: lighten($gray-base, 85%);



@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700|Pacifico");
@import "chosen";

@import "navbar";
@import "footer";
@import "algolia";
// @import "home";

$bg-color: rgba(240, 240, 240, 1);

html {
  height: 100%;
}

body {
  color: $gray-light;
  font-weight: 300;
  min-height: 650px;
  height: 100%;
}

#wrapper {
  padding-top: 60px;
  min-height: 100%;
  position:relative;
}

a {
  color: red;
}

a:hover,
a:active,
a:focus {
  color: red;
  text-decoration: underline;
}

.bg-color {
  background-color: $bg-color;
}

.white-bg {
  background-color: rgba(255, 255, 255, .9);
}

input:focus {
  outline-offset: 0;
}

input,
.form-control,
.input-group {
  border-radius: 2px;
  box-shadow: none;
  webkit-box-shadow: none;
}

.form-control:focus,
.input-group:focus {
  box-shadow: none;
  webkit-box-shadow: none;
}

.input-group-addon {
  border-radius: 2px;
}

.btn {
  border-radius: 2px;
}

.dropdown-menu {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.padding-15 {
  padding: 15px;
}

.margin-btm-10 {
  margin-bottom: 10px;
}

.margin-btm-5 {
  margin-bottom: 5px;
}

.margin-top-10 {
  margin-top: 10px;
}

.padding-top-10 {
  padding-top: 10px;
}

.padding-top-15 {
  padding-top: 15px;
}

.btn-facebook {
  background-color: #3A5795;
  color: white;
}

.btn-facebook:hover {
  color: white;
  font-weight: bold;
}

.frame {
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 2px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .4);
  z-index: -1;
}

.frame-body {
  padding: 10px 20px 20px 20px;
  margin: -10px 30px 20px 30px;
  border-radius-bottom-left: 2px;
  border-radius-bottom-right: 2px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .4);
  z-index: -1;
}

.body-box {
  margin-top: 10px;
  padding: 10px 0 0 0;
  overflow: hidden;
  z-index: 1;
}

.frame-header {
  background-color: $bg-color;
  margin: 20px 30px -10px 30px;
  padding: 10px 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .4);
  border-bottom: 1px solid rgb(220, 220, 220);
  border-radius-top-left: 2px;
  border-radius-top-right: 2px;
  z-index: 1;
}

.header-box {
  padding: 0 0 10px 0;
  margin-bottom: -10px;
  overflow: hidden;
}

.box-shadow {
  box-shadow: 0 0 5px rgba(0, 0, 0, .4);
}

.sidenav {
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 16px;
}

.sidenav li {
  padding-top: 6px;
  padding-bottom: 6px;
}

.sidenav > ul > li > a {
  color: rgba(100, 100, 100, 1)
}

.sidenav > ul > li > a:hover {
  text-decoration: none;
  font-weight: 900;
}

.sidenav > ul > li > a:focus {
  text-decoration: none;
  font-weight: 900;
}

.text-align-left {
  text-align: left;
}

.btn-wide {
  width: 100%;
}

.btn-half-wide {
  width: 50%;
}

.img-profile {
  width: 100%;
}

.img-offer {
  width: 100%;
}

.height-200 {
  min-height: 200px;
}

.height-100 {
  min-height: 100px;
}

.padding-top-5 {
  padding-top: 5px;
}

.margin-btm-none {
  margin-bottom: 0;
}

.margin-none {
  margin: 0;
}

.padding-none {
  padding: 0;
}

.relative {
  position: relative;
}

.half-width {
  width: 50%;
}

.padding-vertical-6 {
  padding-top: 6px;
  padding-bottom: 6px;
}

.padding-vertical-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.img-nature {
  display: block;
  float: left;
  max-width: 60px;
}

.img-nature-box {
}

.margin-left-90 {
  margin-left: 90px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-left-neg-10 {
  margin-left: -10px;
}

.margin-right-15 {
  margin-right: 15px;
}

.margin-top-neg-26 {
  margin-top: -26px;
}

.height-fixed-40 {
  height: 40px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.padding-left-30 {
  padding-left: 30px;
}

.padding-left-10 {
  padding-left: 10px;
}

.search-bar {
  padding: 15px;
  border-bottom: 1px solid rgb(220, 220, 220);
}

.small {
  font-size: 13px;
  margin-top: 3px;
}

.gray-lighter {
  color: $gray-lighter;
}

.margin-top-15 {
  margin-top: 15px;
}

.margin-top-6 {
  margin-top: 6px;
}

.margin-sides-none {
  margin-left: 0;
  margin-right: 0;
}

.strong {
  font-weight: bold;
}

.img-small {
  height: 32px;
  width: 32px;
  border: 2px solid white;
  box-shadow: 0 0 2px #c8c8c8;
  overflow: hidden;
  margin: auto;
  border-radius: 50%;
}

.img-navbar {
  height: 42px;
  width: 42px;
  border: 2px solid white;
  box-shadow: 0 0 2px #c8c8c8;
  overflow: hidden;
  margin-right: 10px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.img-medium {
  height: 64px;
  width: 64px;
  border: 2px solid white;
  box-shadow: 0 0 2px #c8c8c8;
  overflow: hidden;
  margin-left: 25%;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.img-medium > img,
.img-small > img {
  width: 100%;
}

.img-navbar > img {
  margin-top: -15%;
  margin-left: 1%;
  width: 100%;
}

.img {
  width: 100%;
  padding: 1%;
}

.img-review-box {
  padding-left: 50%;
  margin-left: -32px;
}

.padding-right-20 {
  padding-right: 20px;
}

.padding-right-10 {
  padding-right: 10px;
}

.padding-right-none {
  padding-right: 0;
}

.message {
  border-bottom: 1px solid rgb(220, 220, 220);
  padding: 5px;
}

.message-date {
  font-size: 13px;
  text-align: center;
  color: $gray-lighter;
}

.reply {
  padding: 10px;
  background-color: $bg-color;
}

.block {
  display: block;
}

.message-profile-link {
  color: rgb(119, 119, 119);
  font-weight: bold;
}

.message-profile-link:hover {
  color: #25AAE1;
  text-decoration: none;
  font-weight: bold;
}

.notices {
  position: absolute;
  left: 50%;
  width: 300px;
  margin-top: 15px;
  margin-left: -150px;
  z-index: 2;
}

#messages-box {
  max-height: 600px;
  scroll: auto;
}

.link-unstyled,
.link-unstyled:hover,
.link-unstyled:focus {
  color: lighten($gray-light, 20%);
  font-weight: 300;
  text-decoration: none;
}

.conversation-preview {
  padding: 10px;
  border-bottom: 1px solid rgb(220, 220, 220);
}

.unread-messages {
  background-color: lighten($gray-light, 50%);
}

a.disabled {
  color: lighten($gray-light, 30%);
  pointer-events: none;
  cursor: default;
}

#wrapper > .container {
  padding-bottom: 192px;
}

.offer-stream-box {
  padding: 15px;
  border-bottom: 1px solid rgb(220, 220, 220);
}

.offer-stream-box ul > li > a {
  color: rgb(217, 217, 217);
}

.offer-stream-box ul > li > a:hover {
  color: rgb(119, 119, 119);
  text-decoration: none;
}

.offer-stream-box:hover {
  background-color: #F2F2F2;
  cursor: pointer;
}

.offer-nature-link, .nice-link {
  color: rgb(79, 79, 79);
  font-weight: bold;
}

.offer-nature-link:hover, .nice-link:hover {
  color: #25AEE1;
  text-decoration: none;
}

.offer-preview-box {
  padding: 10px;
}

.nature-group {
  display: inline;
}

.btn-margin {
  margin: 15px 0;
}

.img-box {
  padding: 0 5px 0 0;
}

.margin-vertical-5 {
  margin: 5px 0;
}

.padding-left-none {
  padding-left: 0;
}

.rating-star {
  font-size: 23px;
  color: $gray-lighter;
}

.rating-star-highlight {
  font-size: 23px;
  color: #FFB400;
}

.small-star-gold {
  font-size: 14px;
  color: #FFB400;
}

.small-star {
  font-size: 14px;
  color: $gray-lighter;
}

.recommendation-thumbs,
.confirmation-thumbs {
  font-size: 23px;
  color: $gray-lighter;
}

.recommendation-thumbs-highlight {
  font-size: 23px;
  color: #FFB400;
}

.conversation-preview-link,
.conversation-preview-link:hover {
  text-decoration: none;
  color: $gray-light;
}

.conversation-preview:hover {
  background-color: #F2F2F2;
}

.review,
.booking {
  padding: 10px;
}

.review-content,
.booking-content {
  border-bottom: 1px solid rgb(220, 220, 220);
  min-height: 100px;
  position: relative;
}

.ratings {
  border-bottom: 1px solid rgb(220, 220, 220);
}

.user-name {
  margin-top: 10px;
}

.review-date,
.booking-date {
  font-size: 13px;
  color: $gray-lighter;
  display: block;
  float: left;
}

.review-footer,
.booking-footer {
  position: absolute;
  bottom: 0;
  padding-bottom: 10px;
  width: 100%;
}

.offer-link,
.user-link {
  display: block;
  float: right;
}

.padding-sides-6 {
  padding-left: 6px;
  padding-right: 6px;
}