$bg: white;
$color: #446CB3;
$border: 2px solid $color;
$vertical-padding: 40px;


footer {
  color: $color;
  background-color: $bg;
  border-bottom: 1px solid #2C3E50;
  padding-top: $vertical-padding;
  padding-bottom: $vertical-padding;
  font-size: 15px;
  position: absolute;
  bottom:0;
  left:0;
  width: 100%;
  border-top: 1px solid rgb(237, 239, 237);
}

footer li {
  margin: 0 2px;
}

footer > .container > .row > .col-xs-12 > #social > li > a {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: $color;
  font-size: 25px;
  border: $border;
  line-height: 140%;
}

footer > .container > .row > .col-xs-12 > #social > li > a:hover {
  color: rgba(150, 150, 150, 1);
  border-color: rgba(150, 150, 150, 1);
}

.copy {
  color: $color;
}
