$gray-base: #000;
$gray: lighten($gray-base, 33.5%);
$gray-darker: lighten($gray-base, 13.5%);
$gray-light: lighten($gray-base, 46.7%);
$gray-dark: lighten($gray-base, 20%);
$gray-lighter: lighten($gray-base, 85%);
$lovely-blue: rgb(34, 167, 240);
$color: #446CB3;
$border: 2px solid $color;

.btn-home {
  color: $gray-dark;
}

#wrapper {
  padding-top: 24px;
}

#brand {
  color: white;
}

#brand:hover {
  color: white;
}

.navbar-wagon .navbar-nav > .open > a,
.navbar-wagon .navbar-nav > .open > a:hover,
.navbar-wagon .navbar-nav > .open > a:focus {
  color: white;
}

.nav-btn-default {
  background-color: transparent;
}

.navbar-wagon .navbar-nav > li > .nav-btn-default.hover,
.navbar-wagon .navbar-nav > li > .nav-btn-default:hover{
  background-color: transparent;
  color: white;
  border-bottom: 4px solid white;
}

.lead {
  // background: rgba(0, 0, 0, .4);
  // border-radius: 5px;
  padding: 15px;
  color: white;
  margin-top: 100px;
  background-color: rgba(0, 0, 0, 0.2);
  font-family: 'Helvetica Neue';
}

// .lead h1 {
//   font-family: Pacifico;
//   font-size: 92px;
//   color: white;
// }

.lead h1 {
  // font-family: 'Ubuntu';
  color: white;
  font-weight: 400;
}

.lead h3 {
  color: white;
  line-height: 2em;
}

#mosaic {
  margin-left: -40px;
  background-image: image-url('background.jpg');
  height: 600px;
  background-size: cover;
  // text-align: center;
}

#example {
  background-image: image-url('background.png');
  height: 530px;
  background-size: cover;
  margin-top: -35px;
  position: absolute;
  left: 40%;
  width: 60%;
}

#left-pane {
  margin-top: -35px;
  padding-left: 2%;
  min-height: 720px;
  position: absolute;
  right: 60%;
}

.explain {
  margin-top: 150px;
  font-family: 'Helvetica Neue';
}

.explain h3 {
  line-height: 1.5em;
}

.lead a {
  color: white;
  text-decoration: none;
}

.lead a:hover {
  color: white;
  text-decoration: none;
}

.navbar-wagon {
  box-shadow: 0 0 5px rgba(0, 0, 0, .4);
  border-bottom: none;
  background-color: rgb(34, 167, 240);
}

.navbar-wagon .navbar-nav > li > a,
.navbar-wagon .navbar-nav > li > a:hover,
.navbar-wagon .navbar-nav > li > a:focus {
  color: white;
}

.navbar-wagon .navbar-form .form-control {
  border: 1px solid #446CB3;
}

.navbar-wagon .navbar-form .form-control:focus {
  border: 1px solid rgb(31, 17, 102);
}

footer {
  background-color: rgb(34, 167, 240);
  position: fixed;
  bottom: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, .4);
  border-top: none;
}

footer > .container > .row > .col-xs-12 > #social > li > a {
  color: white;
  border: 2px solid white;
}

footer > .container > .row > .col-xs-12 > #social > li > a:hover {
  color: $color;
  border-color: $color;
}

.copy {
  color: white;
}

.navbar-wagon .navbar-toggle {
  border: 1px solid white;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.form-control {
  border: 1px solid rgb(102, 175, 233);
}

.form-control:focus {
  border: 1px solid rgb(31, 17, 102);
}

@media screen and (max-width: 768px) {
  .lead h1 {
    // font-size: 50px;
  }

  .lead {
    margin-left: 40px;
  }
}

#messages-nav-link .badge {
  color: rgb(34, 167, 240);
  background-color: white;
}

#nav-btn {
  color: #22A7F0;
  background-color: white;
}
