$gray-base: #000;
$gray: lighten($gray-base, 33.5%);
$gray-darker: lighten($gray-base, 13.5%);
$gray-light: lighten($gray-base, 46.7%);
$gray-dark: lighten($gray-base, 20%);
$gray-lighter: lighten($gray-base, 85%);
$lovely-blue: #25AAE1;
$color: #446CB3;
$border: 2px solid $color;

.btn-home {
  color: $gray-dark;
}

#brand {
  color: white;
}

#brand:hover {
  color: white;
}

.navbar-wagon .navbar-nav > .open > a,
.navbar-wagon .navbar-nav > .open > a:hover,
.navbar-wagon .navbar-nav > .open > a:focus {
  color: white;
}

.nav-btn-default {
  background-color: transparent;
}

.navbar-wagon .navbar-nav > li > .nav-btn-default.hover,
.navbar-wagon .navbar-nav > li > .nav-btn-default:hover{
  background-color: transparent;
  color: white;
  border-bottom: 4px solid white;
}

.lead {
  background: rgba(0, 0, 0, .4);
  border-radius: 5px;
  padding: 15px;
  color: white;
}

.lead h1 {
  font-family: Pacifico;
  font-size: 92px;
  text-shadow: 0 0 20px rgba(0, 0, 0, .8);
}

.lead h2 {
  display: inline-block;
  font-size: 24px;
  font-weight: 100;
  font-family: 'Ubuntu';
  color: white;
  font-weight: 300;
  /*text-shadow: 0 0 4px yellow;*/
}

#mosaic {
  background-image: image-url('background.png');
  height: 800px;
  background-size: cover;
  text-align: center;
}

.lead a {
  color: white;
  text-decoration: none;
}

.lead a:hover {
  color: yellow;
  text-decoration: none;
}

.navbar-wagon {
  box-shadow: 0 0 5px rgba(0, 0, 0, .4);
  border-bottom: none;
  background-color: #25AEE1;
}

.navbar-wagon .navbar-nav > li > a,
.navbar-wagon .navbar-nav > li > a:hover,
.navbar-wagon .navbar-nav > li > a:focus {
  color: white;
}

.navbar-wagon .navbar-form .form-control {
  border: 1px solid #446CB3;
}

.navbar-wagon .navbar-form .form-control:focus {
  border: 1px solid rgb(31, 17, 102);
}

footer {
  background-color: #25AEE1;
  position: fixed;
  bottom: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, .4);
  border-top: none;
}

footer a {
  color: red;
}

footer a:hover {
  color: red;
  text-decoration: underline;
}

footer > .container > .row > .col-xs-12 > #social > li > a {
  color: white;
  border: 2px solid white;
}

footer > .container > .row > .col-xs-12 > #social > li > a:hover {
  color: $color;
  border-color: $color;
}

.copy {
  color: white;
}

.navbar-wagon .navbar-toggle {
  border: 1px solid white;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.form-control {
  border: 1px solid rgb(102, 175, 233);
}

.form-control:focus {
  border: 1px solid rgb(31, 17, 102);
}

@media screen and (max-width: 768px) {
  .lead h1 {
    font-size: 50px;
  }
}

.badge {
  color: #25AAE1;
}

#nav-btn {
  color: #22A7F0;
  background-color: white;
}
