$gray-base: #000;
$gray: lighten($gray-base, 33.5%);
$gray-darker: lighten($gray-base, 13.5%);
$gray-light: lighten($gray-base, 46.7%);
$gray-dark: lighten($gray-base, 20%);
$gray-lighter: lighten($gray-base, 85%);
$lovely-blue: rgb(34, 167, 240);
$color: #446CB3;
$border: 2px solid $color;

.btn-home {
  color: $gray-dark;
}

#wrapper {
  padding-top: 0;
}

#brand {
  color: white;
}

#brand:hover {
  color: white;
}

#nav-btn{
  background-color: inherit;
  border: 1px solid white;
}

.nav-btn-default {
  background-color: transparent;
}

.navbar-wagon .navbar-nav > li > .nav-btn-default.hover,
.navbar-wagon .navbar-nav > li > .nav-btn-default:hover{
  background-color: transparent;
  color: white;
  border-bottom: 4px solid white;
}

.lead {
  // background: rgba(0, 0, 0, .4);
  // border-radius: 5px;
  padding: 15px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: relative;
  z-index: 1;
}

#mosaic .lead {
  color: white;
  padding-top: 200px;
  // padding-bottom: 50px;
  .panel {
    width: 300px !important;
  }
}

#mosaic .lead-2 {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  // padding-bottom: 50px;
}


.mini {
  font-size: 12px;
  margin-top: 15px;
  margin-bottom: 0;
  padding-bottom: 0;
  color: rgb(119, 119, 119);
}

.connection {
  color: black;
  font-weight: bold;
  font-size: 16px;
  width: 180px;
  margin: -12px auto 12px auto;
  background-color: white;
}

.panel {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

#product,
#community {
  background: rgba(35, 167, 240, 1);
  padding: 20px 0 0 0;
  // border-bottom: 1px solid rgb(220, 220, 220);
}

#community {
  border-top: 1px solid rgb(220, 220, 220);
  background-color: #FCFCFC;
}

#product .lead {
  // padding-top: 100px;
  // padding-bottom: 100px;
}

#community .lead {
  // padding-top: 100px;
  // padding-bottom: 100px;
}

.letter-squeezed {
  letter-spacing: -3px;
}

// .lead h1 {
//   font-family: Pacifico;
//   font-size: 92px;
//   color: white;
// }

.lead h1 {
  // font-weight: 400;
  font-size: 30px;
  color: rgb(75, 93, 103);
}

#mosaic .lead h1 {
  margin-top: 0;
  font-weight: bold;
  font-size: 38px;
  max-width: 751px;
  // text-shadow: 0px 2px 1px rgb(23, 136, 199);
}



#mosaic .lead h3 {
  font-size: 21px;
  font-weight: 300;
  line-height: 1.5em;
  // padding-bottom: 400px;
  // text-shadow: 0px 2px 1px #1788c7;
  // opacity: 0.4;
}

#mosaic .lead h1,
#mosaic .lead h3 {
  color: white;
}

.lead h3 {
  color: lighten(rgb(79, 79, 79), 15%);
}

.lead h3 {
  line-height: 1em;
}

#product .lead,
#product .lead h1 {
  color: white;
}

#mosaic {
  margin-left: -40px;
  // background: rgba(35, 167, 240, 1);
  background-image: url('https://c1.staticflickr.com/9/8370/8490573836_3a83437e79_b.jpg');
  background-size: cover;
  background-position: center top;
  // text-align: center;
  position: relative;
  min-height: 800px;

  &:after {
    background: rgba(31, 35, 40, 0.5);

    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

#example {
  background-image: image-url('background.png');
  height: 530px;
  background-size: cover;
  margin-top: -35px;
  position: absolute;
  left: 40%;
  width: 60%;
}

#left-pane {
  margin-top: -35px;
  padding-left: 2%;
  min-height: 720px;
  position: absolute;
  right: 60%;
}

.explain {
  margin-top: 150px;
  font-family: 'Helvetica Neue';
}

.explain h3 {
  line-height: 1.5em;
}

.lead a {
  text-decoration: none;
}

.lead a:hover {
  text-decoration: none;
}

.navbar-wagon {
  position: absolute;
  top: 0;
  box-shadow: none;
  border-bottom: none;
  background-color: transparent;
}

.navbar-wagon .navbar-nav > li > a,
.navbar-wagon .navbar-nav > li > a:hover,
.navbar-wagon .navbar-nav > li > a:focus {
  color: white;
}

.navbar-wagon .navbar-form .form-control {
  border: 1px solid #446CB3;
}

.navbar-wagon .navbar-form .form-control:focus {
  border: 1px solid rgb(31, 17, 102);
}

footer {
  background-color: rgb(34, 167, 240);
  position: relative;
  // bottom: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, .4);
  border-top: none;
}

footer > .container > .row > .col-xs-12 > #social > li > a {
  color: white;
  border: 2px solid white;
}

footer > .container > .row > .col-xs-12 > #social > li > a:hover {
  color: $color;
  border-color: $color;
}

.copy {
  color: white;
}

.navbar-wagon .navbar-toggle {
  border: 1px solid white;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.form-control {
  border: 1px solid #22A7F0;
}

.form-control:focus {
  border: 1px solid #1F3A93;
}

.navbar-wagon .navbar-nav > .open > a,
.navbar-wagon .navbar-nav > .open > a:hover,
.navbar-wagon .navbar-nav > .open > a:focus {
  color: white;
}

.navbar-default .navbar-nav .open ul {
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid white;
}


.navbar-wagon .navbar-nav > li > .dropdown-menu:before {
  background-color: rgba(0, 0, 0, 0);
  border-top: 1px solid white;
  border-left: 1px solid white;
  z-index: 1;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
  color: #333333;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: white;
}

@media screen and (max-width: 768px) {
  #mosaic .lead h1 {
    // font-size: 50px;
  }

  // .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
  //   color: white;
  // }

  .navbar-wagon .navbar-nav > .open a,
  .navbar-wagon .navbar-nav > .open a:hover,
  .navbar-wagon .navbar-nav > .open a:focus {
    color: white;
  }


  #mosaic .lead h3 {
    line-height: 1.5em;
  }

  #webApp {
    height: 220px !important;
  }
  .lead {
    margin-left: 40px;
    margin-right: 15px;
  }
}

.col-md-4 {
  .lead {
    margin-top: 0;
  }
}

#messages-nav-link .badge {
  color: #224E74;
  background-color: white;
}

#nav-btn:hover {
  color: #22A7F0;
  background-color: white;
}

#webApp {
  height: 600px;
  width: 100%;
  top: 0;
  position: relative;
  /* left: 15px; */
  overflow: hidden;
  margin: 20px 0 0 0;

  img  {
    position: absolute;
  }
}

#box {
  height: 408px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

#box .lead {
  position: absolute;
  width: 100%;
  // background-color: white;
}

#webFinderBar {
  background-color: #f7f7f7;
  color: #cccccb;
  font-size: 26px;
  line-height: 26px;
  text-indent: 10px;
  letter-spacing: 2px;
  height: 26px;
  width: 100%;
  /* position: absolute; */
  top: 0;
  left: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

#wrapper > .container {
  padding-bottom: 0;
}

#community {
  h1 {
    text-align: left;
  }

  .lead-2 {
    padding-left: 0;
  }

  p {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: left;
  }
}

.wrapper-end {
  background: url('https://unsplash.com/photos/9SyOKYrq-rE/download');
  background-size: cover;
  background-position: center center;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;

  &:after {
    position: absolute;
    content: ' ';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(29, 100, 139, 0.69);
  }

  p {

    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 21px;
    font-weight: 300;
    // opacity: 0.7;
    // text-shadow: 0px 2px 1px #486571;
  }

  .lead {
    padding-left: 0;

    h1 {
      color: white;
      font-size: 38px;
      // text-shadow: 0px 2px 1px #486571;
      text-align: left;
    }
    color: white;
  }

  a.btn-default { // tes nouveaux buttons
   float: left;
   padding: 10px 40px;
   background: rgb(35, 167, 240);
   font-size: 20px;
   color: white;
   font-weight: normal;
   /* text-transform: uppercase; */
   text-shadow: 0px 1px 1px rgb(22, 136, 200);
   letter-spacing: 2px;
   border: 3px solid rgb(35, 167, 240);
   border-radius: 20em;
   transition: border 0.3s ease;

   &:hover {
    border: 3px solid darken(rgb(35, 167, 240), 10%);
    color: white;
    background: rgb(35, 167, 240);
   }
  }
}


#mosaic .visible-xs a { // tes nouveaux buttons
  float: left;
  padding: 10px 40px;
  background: rgb(35, 167, 240);
  font-size: 20px;
  color: white;
  font-weight: normal;
  /* text-transform: uppercase; */
  text-shadow: 0px 1px 1px rgb(22, 136, 200);
  letter-spacing: 2px;
  border: 3px solid rgb(35, 167, 240);
  border-radius: 20em;
  transition: border 0.3s ease;

  &:hover {
    border: 3px solid darken(rgb(35, 167, 240), 10%);
    color: white;
    background: rgb(35, 167, 240);
  }
}


.padding-top-none {
  padding-top: 0 !important;
}

.forgotten {
  font-size: 16px;
}