
#map {
}

#map-box {
  // position: absolute;
  // top: 60px;
  // right: 50%;
  // width: 50%;
  // bottom: 0;
  // left: 0;
  // z-index: 1;
  font-family: 'Helvetica';
  // padding: 15px 7px 14px 14px;
}

#sidebar {
  // position: absolute;
  // width: 50%;
  // top: 60px;
  // right: 0;
  // bottom: 0;
  overflow: auto;
  font-family: 'Helvetica';
  // padding: 15px 14px 0 7px;
}

.frame-body-map {
  margin: -10px 7px 15px 15px;
  border-radius-bottom-left: 2px;
  border-radius-bottom-right: 2px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .4);
}

.body-box-map {
  margin-top: 10px;
  padding: 10px 0 0 0;
  overflow: hidden;
  z-index: 1;
}

.frame-header-map {
  background-color: rgba(240, 240, 240, 1);
  margin: 20px 7px -10px 15px;
  padding: 10px 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .4);
  border-bottom: 1px solid rgb(220, 220, 220);
  border-radius-top-left: 2px;
  border-radius-top-right: 2px;
  z-index: 1;
}

.header-box-map {
  padding: 0 0 10px 0;
  margin-bottom: -10px;
  overflow: hidden;
}

.frame-body-side {
  margin: -10px 5px 20px 8px;
  border-radius-bottom-left: 2px;
  border-radius-bottom-right: 2px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .4);
}

.body-box-side {
  margin-top: 10px;
  padding: 10px 0 0 0;
  overflow: hidden;
  z-index: 1;
}

.frame-header-side {
  background-color: rgba(240, 240, 240, 1);
  margin: 20px 5px -10px 8px;
  padding: 10px 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .4);
  border-bottom: 1px solid rgb(220, 220, 220);
  border-radius-top-left: 2px;
  border-radius-top-right: 2px;
  z-index: 1;
}

.header-box-side {
  padding: 20px 0 10px 0;
  margin-bottom: -10px;
  overflow: hidden;
}

.margin-top-neg-10 {
  margin-top: -10px;
}

.margin-left-neg-20 {
  margin-left: -20px;
}

.outside-box {
  margin-top: -20px;
}

.offer-stream-box:hover {
  background-color: #F2F2F2;
  cursor: pointer;
}

.offer-nature-link {
  color: rgb(79, 79, 79);
  font-weight: bold;
}

.offer-nature-link:hover {
  color: #25AEE1;
  text-decoration: none;
}

.offer-preview-box {
  padding: 10px;
}

.nature-group {
  display: inline;
}

.price {
  color: rgb(79, 79, 79);
  font-weight: bold;
}

a {
  color: rgb(0, 132, 180);
}

a:hover {
  color: rgb(0, 132, 180);
}

.frame-header-side {
  background-color: white;
  border-radius-top-left: 3px;
  border-radius-top-right: 3px;
}

.frame-header-map {
  background-color: white;
}

.panel-left {
  margin: 15px 7px 15px 15px;
}

.panel-default > .panel-heading {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  background-color: rgb(237, 239, 237);
  color: rgb(119, 119, 119);
}

.panel-default > .panel-heading h3 {
  margin: 5px 0;
  font-weight: bold;
}
