#offers,
#mine {
  .panel-body {
    padding: 10px 0 0 10px;
    .col-sm-4:nth-child(n),
    .col-xs-6:nth-child(n) {
      padding: 0 10px 10px 0;
    }
  }
  @media(max-width: 400px) {
    .card .card-description {
      font-size: 8px;
    }
  }
  .card-user {
    img {
      width: 25%;
      float: right;
    }
  }
  .popover.top > .arrow {
    border-width: 7px;
    bottom: -15px;
    margin-left: -7px;
  }
  .popover.bottom > .arrow {
    border-top-width: 3px;
    // bottom: -15px;
    // margin-left: -7px;
  }
  .popover > .arrow:after {
    // border-width: 7px;
  }
  .popover.bottom {
    margin-top: 7px;
  }
  .popover.top {
    margin-top: -7px;
  }
  .popover {
    z-index: 1029;
    min-width: 215px;
    max-width: 215px;
    border: none;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    .popover-content {
      overflow: hidden;
      border-radius: 3px;
      .popover-header {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 80px;
        background-size: cover;
        background-position: center center;
        text-align: center;
        // -webkit-filter: blur(2px);
        // -moz-filter: blur(2px);
        // -o-filter: blur(2px);
        // -ms-filter: blur(2px);
        // filter: blur(2px);
        opacity: 1;
        // transform: scale(1.2);
        img {
          width: 80px;
          margin-top: 46px;
        }
      }
      p {
        margin-top: 115px;
        font-size: 12px;
      }
      .small-badge {
        margin: 0 auto;
      }
      .small-badge-off {
        background-color: #edefed;
      }
      a {
        font-size: 12px;
      }
      .form-group {
        margin-top: 10px;
        font-family: 'Montserrat';
        .offer_published {
          display: block;
          width: 100%;
          height: 34px;
          padding: 6px 12px;
          font-size: 14px;
          line-height: 1.428571429;
          color: #555555;
          background-color: white;
          background-image: none;
          border: 1px solid #cccccc;
          border-radius: 4px;
          -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          border-radius: 1px;
          .input-group {
            border-radius: 2px;
            box-shadow: none;
            webkit-box-shadow: none;
          }
        }
      }
      .small-badge,
      .small-badge-off {
        display: inline-block;
        min-width: 10px;
        min-height: 10px;
        font-size: 12px;
        font-weight: bold;
        color: white;
        line-height: 1;
        vertical-align: baseline;
        white-space: nowrap;
        text-align: center;
        border-radius: 10px;
        -moz-transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
      }
    }
  }
}
.small-badge-off {
  background-color: #edefed !important;
}
#offers {
  .card-text h2 {
    font-size: 20px;
  }
}

.popover.top > .arrow {
  border-width: 7px;
  bottom: -15px;
  margin-left: -7px;
}
.popover.bottom > .arrow {
  border-top-width: 3px;
  // bottom: -15px;
  // margin-left: -7px;
}
.popover > .arrow:after {
  // border-width: 7px;
}
.popover.bottom {
  margin-top: 7px;
}
.popover.top {
  margin-top: -7px;
}
.popover {
  z-index: 1029;
  min-width: 215px;
  max-width: 215px;
  border: none;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  .popover-content {
    overflow: hidden;
    border-radius: 3px;
    .popover-header {
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 80px;
      background-size: cover;
      background-position: center center;
      text-align: center;
      // -webkit-filter: blur(2px);
      // -moz-filter: blur(2px);
      // -o-filter: blur(2px);
      // -ms-filter: blur(2px);
      // filter: blur(2px);
      opacity: 1;
      // transform: scale(1.2);
      img {
        width: 80px;
        margin-top: 46px;
      }
    }
    p {
      margin-top: 115px;
      font-size: 12px;
    }
    .small-badge {
      margin: 0 auto;
    }
    .small-badge-off {
      background-color: #edefed;
    }
    a {
      font-size: 12px;
    }
    .form-group {
      margin-top: 10px;
      font-family: 'Montserrat';
      .offer_published {
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.428571429;
        color: #555555;
        background-color: white;
        background-image: none;
        border: 1px solid #cccccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        border-radius: 1px;
        .input-group {
          border-radius: 2px;
          box-shadow: none;
          webkit-box-shadow: none;
        }
      }
    }
    .small-badge,
    .small-badge-off {
      display: inline-block;
      min-width: 10px;
      min-height: 10px;
      font-size: 12px;
      font-weight: bold;
      color: white;
      line-height: 1;
      vertical-align: baseline;
      white-space: nowrap;
      text-align: center;
      border-radius: 10px;
      -moz-transition: all .2s ease-in-out;
      -webkit-transition: all .2s ease-in-out;
      -o-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
    }
  }
}