<p>Bonjour <%= @resource.first_name %>!</p>

<p>Vous avez oublié votre mot de passe ? Pour définir un nouveau mot de passe, suivez le lien ci-desssous.</p>

<p><%= link_to 'Modifier mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'êtes pas à l'origin de cette demande, ignorez ce mail.</p>
