<div class="form-group">
  <%= f.label :respect_rating, "Respect du matériel :", class: "col-sm-3 control-label" %>
  <div class="col-sm-9">
    <%= f.hidden_field :respect_rating, id: "respect" %>
    <ul class="respect_rating list-unstyle list-inline">
      <% (1..5).each do |i| %>
        <li class="rating-star" data-stars="<%= i %>" data-nature="respect" id="<%= "respect_#{i}" %>"><i class="fa fa-star"></i></li>
      <% end %>
    </ul>
  </div>
</div>