<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <ul class='list-inline text-center' id="social">
          <li><a href="https://www.facebook.com/lvly.hood" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://twitter.com/LvlyHood" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://instagram.com/lvlyhood/" target="_blank"><i class="fa fa-instagram"></i></a></li>
        </ul>
        <p class='text-center copy montserrat'>Lovely Hood</p>
        <p class="text-center">
          <%= link_to terms_path do %>
            <%= t('.terms') %>
          <% end %>
          <p>
        <p class="text-center">
          <%= link_to legal_path do %>
            <%= t('.legal') %>
          <% end %>
        <p>
      </div>
    </div>
  </div>
</footer>
