<div id="footer">

  <ul class='list-inline text-center'>
    <li><a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook"></i></a></li>
    <li><a href=""><i class="fa fa-google-plus"></i></a></li>
    <li><a href="https://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a></li>
    <li><a href="https://www.linkedin.com" target="_blank"><i class="fa fa-linkedin"></i></a></li>
    <li><a href="http://www.pinterest.com" target="_blank"><i class="fa fa-pinterest"></i></a></li>
    <li><a href="https://www.youtube.com" target="_blank"><i class="fa fa-youtube"></i></a></li>
  </ul>
  <p class='text-center copy'> Lovely hood </p>
  <p class="text-center"><%= link_to "A propos", about_path %><p>

</div>
