<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <ul class='list-inline text-center' id="social">
          <li><a href="https://www.facebook.com/lvly.hood" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://twitter.com/LvlyHood" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://www.youtube.com" target="_blank"><i class="fa fa-youtube"></i></a></li>
        </ul>
        <p class='text-center copy'>Lovely Hood</p>
        <p class="text-center"><%= link_to "Conditions générales", terms_path %><p>
        <p class="text-center"><%= link_to "Mentions légales", legal_path %><p>
      </div>
    </div>
  </div>
</footer>
