<div class="alert alert-info alert-dismissible hidden" role="alert" id="share">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <div class="share">
    <%# t('.share') %> <%= link_to "", "https://www.facebook.com/sharer/sharer.php?u=http://www.lovely-hood.com", class: "social-share-button-facebook", target: "_blank" %>
  </div>
</div>